
/* Sætter hele siden til margin, padding 0 */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Sætter farven til body */
body{
  background: white
}

/* Sætter farven til body */
section{
  position: relative;
  padding: 100px;
}

/* header defineres her */
header{
  top:0;
  left: 0;
  width: 100%;

}

/* Unorded list for navigation defineres her */
ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #333;
   }

   li {
   float: right;
   }

   li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   }

   li a:hover {
   background-color: #111;
   }
               .model img{
   width:100%;
   height: 100%;
   object-fit: contain;
}

/* banner styling defineres her */
.banner{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:linear-gradient(to bottom, transparent 0%, black 100%), url(https://source.unsplash.com/OoH3xUh6bkg/);
  background-size:cover;
}

.banner .content{
  position: relative;
  max-width: 900px;
  text-align: center;
  z-index: 1;
}
.banner .content{
  color: white;
  font-size: 5em;
}
.banner .content h2 {
  color: white;
  font-size: 20px;
}

.banner .content p {
  color: white;
  font-size: 16px;
}
.coverImg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

/* Section om mig derfineres her*/
.omMig{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.omMig .contentMig{
  max-width: 50%;
  width: 50%;
  text-align: left;
  padding-right: 40px;

}

/* Disse tittle og bodytxt classer kan genbruges */

/* Knappen defineres her */
.btn {
  position: relative;
  display: inline-block;
  margin-top: 30px;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 14px;
  color: #FFFFFF;
  background-color: #1db096;
  border-radius: 5px;
  border: none;
  box-shadow: 4px 10px 30px rgb(24,139, 119,0.2);
}

.title{
  font-weight: 600;
  color: black;
  font-size: 18px;
  margin-bottom: 10px;

}

.bodyTxt{
  color: grey;
  font-size: 16px;
}

.omMig .img-box{
  position: relative;
  min-width: 50%;
  width: 50%;
  min-height: 500px;
}

.omMigImg {
  max-width: 50%;
  width: 50%;
  text-align: end;
}

/* Footer defineres her*/
footer {
position: absolute;

 background:#111;
 height: auto;
 width: 100vw;
 padding-top: 40px;
 color: white;
}

.footer-content{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   text-align: center;
}
.footer-content h3{
  font-size: 1.rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p{
   max-width: 500px;
   margin: 10px auto;
   line-height: 28px;
   font-size: 14px;
}

.socials{
   list-style: none;
   display: flex;
   align-items: center;
   justify-content: center;
   margin:1rem 0 3rem 0;

}

.socials li{
   margin:0px 10px;
}

.socials a{
   text-decoration: none;
   color: whitesmoke;
}

.socials a i{
   font-size: 1.1rem;
   transition: color .4s ease;
}

.socials a:hover i {
   color: #36b7b5;
}
