
*{
  margin: 0;
  padding: 0;
}

/* Style for navigation */

a{
text-decoration: none;
}
ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #333;
   }

   li {
   float: right;
   }

   li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   }

   li a:hover {
   background-color: #111;
   }
               .model img{
   width:100%;
   height: 100%;
   object-fit: contain;
}

/* Style for main header */

#main{
   background-color: whitesmoke;
   width: 100%;
   height: 800px;
}

.model{
   width:500px;
   height: 500px;
}

.content{

   width:90%;
   display: flex;
   justify-content: space-around;
   align-items: center;
   position: absolute;
   left: 50%;
   top:50%;
   transform: translate(-50%, -50%);
}
.main-text{
   width: 500px;
}

.main-text h1{
   font-size: 3.5rem;
   color:black;
   margin: 10px;
   line-height: 60px;
}
/* Style for knapperne */
.btn , .p-box a{
   width: 190px;
   height: 44px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #FFFFFF;
   background-color: #1db096;
   border-radius: 20px;
   border: none;
   box-shadow: 4px 10px 30px rgb(24,139, 119,0.2);
}

.btn:hover, .p-box a{
   background-color: #23cdaf;
   transition: all ease 0.2s;
}

/* Her defineres style for skills */
.skills, #kontakt{
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 90%;
   margin:auto auto 50px auto;
}

.skills-title, .kontakt-title{
   width: 400px;
}

.skills-image, .kontakt-image{
   width: 600px;
   height: 600px;
}

.skills-image img, .kontakt-image img{
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.skills-heading span{
   color: #36b7b5;
   font-weight: 500;
   text-transform: uppercase;
   letter-spacing: 1px;
   font-size: 1rem;
}

.skills-heading h2, .kontakt-heading h2{
   color: #1c3548;
   font-size: 2.3rem;
   font-weight: 400;
   letter-spacing: 1px;
}

.skill-box-text strong{
   color: #1c3548;
   margin:0;
   font-size: 0.9rem;
   font-weight: 600;
}

.skill-box-text p{
   color: #747474;
   font-size: 0.9rem;
}

/* Portfolio */

#portfolio{
   display: flex;
   justify-content: center;
   align-items: center;
   margin:30px 0px;
   flex-direction: column;
}

.portfolio-heading span, .kontakt-heading span{
   color: #36b7b5;
   font-weight: 500;
   text-transform: uppercase;
   letter-spacing: 2px;
}

.portfolio-heading h3, .kontakt-heading h3{
   color: #1c3548;
   font-size: 2rem;
   margin: 0;
   font-weight: 400;
   letter-spacing: 2px;
}

.p-box-container{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 margin: 20px 0px;
}

.p-box{
   width: 310px;
   height: 350px;
   background-color: whitesmoke;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 10px;
   margin:36px;
   box-shadow: 5px 10px 30px rgba(0,0,0,0.08);

}

.p-box img{
   width: 100%;
   height: auto;
   object-fit: cover;
}

.p-box strong{
   color: #1c3548;
   margin:0;
   font-size: 1.1rem;
   font-weight: 600;
   margin: 10px;
}

.p-box p{
   color: #747474;
   font-size: 0.9rem;
   margin: 0px;
   text-align: center;
   display: block;
   display: -webkit-box;
   max-width: 80%;
   -webkit-line-clamp: 4;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis;
   padding: 20px;
}

.p-box a{
   width: 140px;
   margin-top: 20px;
   border-radius: 0px;
}

.p-box:hover{
   transform: translateY(-10px);
   box-shadow: 5px 10px 30px rgba(0,0,0,0.1);
   transition: all ease 0.2s;
}

/* Kontakt formular */

.kontakt-btn{
  width: 80%;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background-color: #1db096;
  border-radius: 20px;
  border: none;
  box-shadow: 4px 10px 30px rgb(24,139, 119,0.2);
}

.kontakt-form{
width: 100%;
height: auto;
flex: 50%;
}

.kontakt-form h1{
  margin-bottom: 10px;
}


.form-txt{
  width:100%;
  height: 20px;
  color: black;
  border:1px solid #bcbcbc;
  border-radius: 10px;
  outline: none;
  margin-bottom: 20px;
  padding: 15px;
}

.form-txtarea{
  width:100%;
  height: 130px;
  color: black;
  border:1px solid #bcbcbc;
  border-radius: 10px;
  outline: none;
  margin-bottom: 20px;
  padding: 15px;
}

/* footer */
footer {
position: absolute;

 background:#111;
 height: auto;
 width: 100vw;
 padding-top: 40px;
 color: white;
}

.footer-content{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   text-align: center;
}
.footer-content h3{
  font-size: 1.rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p{
   max-width: 500px;
   margin: 10px auto;
   line-height: 28px;
   font-size: 14px;
}

.socials{
   list-style: none;
   display: flex;
   align-items: center;
   justify-content: center;
   margin:1rem 0 3rem 0;

}

.socials li{
   margin:0px 10px;
}

.socials a{
   text-decoration: none;
   color: whitesmoke;
}

.socials a i{
   font-size: 1.1rem;
   transition: color .4s ease;
}

.socials a:hover i {
   color: #36b7b5;
}

@media(max-width:1140px){
   .content{width: 100%;}
   .model{width: 400px; height: 400px;}

   .main-text, .model{
       margin:10px;
   }
}
