
/* Sætter hele siden til margin, padding 0 */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Sætter farven til body */
body{
  background: white
}

/* Sætter farven til body */
section{
  position: relative;
  padding: 100px;
}

/* header defineres her */
header{
  top:0;
  left: 0;
  width: 100%;

}

/* Unorded list for navigation defineres her */
ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #333;
 }

 li {
   float: right;
 }

 li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
 }

 li a:hover {
   background-color: #1db096;
 }

.model img{
   width:100%;
   height: 100%;
   object-fit: contain;
}

.li{
  padding-top: 10px;
  font-size: 18px;
  text-transform: uppercase;
}

#logoLi{
  float:left;
   font-weight:bold;
   font-size:36px;
}

/* banner styling defineres her */
.banner{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:linear-gradient(to bottom, transparent 0%, black 100%), url(https://source.unsplash.com/OoH3xUh6bkg/1920x1080);
  background-size:cover;
}

.banner2{
  position: relative;
  width: 100%;
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:linear-gradient(to bottom, transparent 0%, black 100%), url(https://source.unsplash.com/OoH3xUh6bkg/1920x1080);
  background-size:cover;
}

.banner .content, .banner2 .content{
  position: relative;
  max-width: 100%;
  text-align: center;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 20px;
}
.banner .content, .banner2 .content{
  color: white;
  font-size: 5em;
}
.banner .content h1, .banner2 .content h1{
  color: white;
  font-size: 42px;
  padding-bottom: 20px;
}

.banner .content p {
  color: white;
  font-size: 18px;
}
.coverImg{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  border-radius: 10px;
}

/* Section om mig derfineres her*/
#omMig{
  width: 90%;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}
.omMig{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.omMig .contentMig{
  max-width: 50%;
  width: 50%;
  text-align: left;
  padding-right: 40px;

}

/* Disse tittle og bodytxt classer kan genbruges */

/* Knappen defineres her */
.btn {
  position: relative;
  display: inline-block;
  margin-top: 30px;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 14px;
  color: #FFFFFF;
  background-color: #1db096;
  border-radius: 5px;
  border: none;
  box-shadow: 4px 10px 30px rgb(24,139, 119,0.2);
  text-align: center
}

.btnPortfolio{
  position: relative;
  display: inline-block;
  margin-top: 30px;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 14px;
  color: #FFFFFF;
  background-color: #1db096;
  border-radius: 5px;
  border: none;
  box-shadow: 4px 10px 30px rgb(24,139, 119,0.2);
  text-align: center;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.title{
  font-weight: 600;
  color: black;
  font-size: 18px;
  margin-bottom: 10px;

}

.bodyTxt{
  color: grey;
  font-size: 16px;
}

.omMig .img-box{
  position: relative;
  min-width: 50%;
  width: 50%;
  min-height: 500px;
}

.img-box:hover img{
opacity: 1;
}

.omMigImg {
  max-width: 50%;
  width: 50%;
  text-align: end;
}


/*Portfolio */
.container {
  display: flex;
}

.section {
  flex: 1; /*grow*/
  margin-left: 30px;
}

@media (max-width: 768px) { /*breakpoint*/
  .container {
    flex-direction: column;
  }
  .section{
    margin-bottom: 60px;
  }
  .imgSection, .imgSection3 {
    width: auto !important;
  }

  .omMigImg img{
    margin-top: 220px;
  }

.omMigFooter{
  margin-top: 250px;
}
  .projektImg img{
    margin-top: 200px;
    height: auto;
  }
  .projektFooter{
    margin-top: 800px;
  }

  .projektFooter2{
    margin-top: 1300px;
  }
}

.imgSection, .imgSection3 {
  width: 300px;
  height: 400px;
  background: #000;
  background-position: top;
  transition: ease-in-out 8s;
}

.imgSection2 {
  width: 300px;
  height: 400px;
  background: #000;
}

.imgSection {
  background:url(/images/projekt1/Web1.png);
  background-size: cover;

}

.imgSection2 {
  background:url(/images/projekt2/folder.jpg);
  background-size: cover;

}

.imgSection3 {
  background:url(/images/portfolioxd/front.xd.png);
  background-size: cover;

}

.imgSection:hover, .imgSection3:hover {
  background-position: bottom;
}
.title2{
  text-align:center;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 50px;
}
.portfolio-heading{margin-bottom: 20px}
.portfolio-heading span, .kontakt-heading span{
   color: #36b7b5;
   font-weight: 500;
   text-transform: uppercase;
   letter-spacing: 2px;
}

.portfolio-heading h3, .kontakt-heading h3{
   color: #1c3548;
   font-size: 2rem;
   margin: 0;
   font-weight: 400;
   letter-spacing: 2px;
}

.p-box-container{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 margin: 20px 0px;
}

.p-box{
   width: 310px;
   height: 350px;
   background-color: whitesmoke;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 10px;
   margin:66px;
   box-shadow: 5px 10px 30px rgba(0,0,0,0.08);

}

.p-box img{
   width: 100%;
   height: 300px;
   object-fit: cover;

}

.p-box strong{
   color: #1c3548;
   margin:0;
   font-size: 1.1rem;
   font-weight: 600;
   margin: 10px;
}

.p-box p{
   color: #747474;
   font-size: 0.9rem;
   margin: 0px;
   text-align: center;
   display: block;
   display: -webkit-box;
   max-width: 80%;
   padding: 20px;
}

.p-box a{
   width: 140px;
   margin-top: 20px;
   border-radius: 0px;
}

.p-box:hover{
   transform: translateY(-10px);
   box-shadow: 5px 10px 30px rgba(0,0,0,0.1);
   transition: all ease 0.2s;
}

/* Kontkat section defineres her*/

#kontakt{
  display: flex;
}

.sectionKontakt{
  flex: 1;
}
.kontakt-title{
   width: 400px;
}

 .kontakt-image{
   width: 600px;
   height: 600px;
}

.skills-image img, .kontakt-image img{
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.kontakt-btn{
  width: 100%;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background-color: #1db096;
  border-radius: 2px;
  border: none;
  box-shadow: 4px 10px 30px rgb(24,139, 119,0.2);
}

.kontakt-form{
width: 100%;
height: auto;
flex: 50%;
}

.kontakt-form h1{
  margin-bottom: 10px;
}


.form-txt{
  width:100%;
  height: 20px;
  color: black;
  border:1px solid #bcbcbc;
  border-radius: 5px;
  outline: none;
  margin-bottom: 20px;
  padding: 15px;
}

.form-txtarea{
  width:100%;
  height: 130px;
  color: black;
  border:1px solid #bcbcbc;
  border-radius: 5px;
  outline: none;
  margin-bottom: 20px;
  padding: 15px;
}

/* Footer defineres her*/
footer {
position: absolute;

 background:#111;
 height: auto;
 width: 100vw;
 padding-top: 40px;
 color: white;
}

.footer-content{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   text-align: center;
}
.footer-content h3{
  font-size: 1.rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p{
   max-width: 500px;
   margin: 10px auto;
   line-height: 28px;
   font-size: 14px;
}

.socials{
   list-style: none;
   display: flex;
   align-items: center;
   justify-content: center;
   margin:1rem 0 3rem 0;

}

.socials li{
   margin:0px 10px;
}

.socials a{
   text-decoration: none;
   color: whitesmoke;
}

.socials a i{
   font-size: 1.1rem;
   transition: color .4s ease;
}

.socials a:hover i {
   color: #36b7b5;
}


/* Media queries defineres her */

@media (max-width: 767px){
  section{
    padding: 40px;
  }
  .banner .content h2{
    font-size: 16px;
  }
  .banner .content p{
    font-size: 16px;
  }

  .omMig, #kontakt{
    flex-direction: column;
  }

  .img-box{
    margin-top:-160px;
  }


  .omMig .contentMig, .omMig .img-box{
    min-width: 100%;
    width: 100%;
    text-align: center;
    padding-right: 0px;
  }

  .OmMig .omMigImg{
    min-height: 250px;
  }

  .btn{
    margin-bottom: 250px;
  }

  .kontakt-title{
    margin-top: -221px;
    padding:50px;
  }

.portfolio-heading{
    margin-bottom: 48px;
}
.p-box{
  margin-bottom: 84px;
}

.p-box p {
    overflow: visible;
    text-overflow: clip;
    margin-bottom: 70px;

}
